<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>错误消息</title>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="fragment" content="!" />
    <meta name="applicable-device" content="pc, mobile" />
    <meta name="robots" content="none" />
    <style type="text/css">
        *{padding:0; margin:0;}
        html{background: #f9f9f9;}
        body,input,button,select,textarea{font: medium/1.8em Tahoma,Helvetica,arial,sans-serif;color:#333;}
        body{background:#fff;width: 80%;max-width: 800px;margin: 10% auto 0 auto;border: 1px solid #dfdfdf;padding-bottom: 1.4em;}
        #title{font-size: larger;padding:.6em 1em;border-bottom: 1px solid #dfdfdf;font-weight: bold;}
        #messages{padding: 1.4em 1.4em 0 1.4em;}
        #messages .message{padding-left:1em;margin-bottom: .4em}
        #messages .message-type-1{border-left: 4px solid #7ad03a;}
        #messages .message-type-2{border-left: 4px solid #ffba00;}
        #messages .message-type-2{border-left: 4px solid #dd3d36;}
        #redirect{padding: .4em 1.4em 0 1.4em;}
        #redirect a{cursor: pointer;color: #369;}
        @media screen and (max-width: 782px) {
            body{width: 100%;margin:0;border:0;}
            html{background:#fff;}
        }
    </style>
</head>
    <body>
        <div id="messages">
            <% if (messages && messages.length) { %>
                <% messages.forEach(function(message, index) { %>
                    <p><%= message.message %> (<%= message.code %>)</p>
                <% }); %>
            <% } %>
		</div>
	</body>
</html>
